<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
  <strong>Comment:</strong>
  <%= comment.body %>
  <%= link_to 'Delete', [comment.article, comment], class:'btn btn-sm btn-danger',
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

</p>




