<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
  <strong>Comment:</strong>
  <%= comment.body %>
  <%= link_to 'Delete Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?'}%>
</p>

